<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.starocto.dao.db.mapper.WeiboDataMapper">

    <sql id="t1_user_register_info">
        user_register_info
    </sql>
    <sql id="t1_all_field_without_id">
        user_name,user_psw,user_phone,user_email,user_register_time,user_change_time
    </sql>
    <sql id="t1_all_field">
        user_id,user_name,user_psw,user_phone,user_email,user_register_time,user_change_time
    </sql>

    <insert id="insertUserRegisterInfoDO"
            parameterType="com.starocto.dao.db.model.UserRegisterInfoDO">
        INSERT INTO
        <include refid="t1_user_register_info"/>
        (<include refid="t1_all_field_without_id"/>)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.userName}, #{item.userPsw}, #{item.userPhone},#{item.userEmail},
            #{item.userRegisteredTime},#{item.userChangeTime})
        </foreach>
    </insert>

    <select id="selectUserRegisterInfoDO" resultType="com.starocto.dao.db.model.UserRegisterInfoDO">
        SELECT
        <include refid="t1_all_field"/>
        FROM
        <include refid="t1_user_register_info"/>
        <where>
            user_name = #{userName}
        </where>
    </select>


    <sql id="t2_user_others">
        user_others
    </sql>
    <sql id="t2_all_field">
        user_id,blog_produce_rate,blog_consume_time
    </sql>

    <insert id="insertUserOthersDO"
            parameterType="com.starocto.dao.db.model.UserOthersDO">
        INSERT INTO
        <include refid="t2_user_others"/>
        (<include refid="t2_all_field"/>)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.userId}, #{item.blogProduceNum}, #{item.blogConsumeTime})
        </foreach>
    </insert>

    <select id="selectUserOthersDO" resultType="com.starocto.dao.db.model.UserOthersDO">
        SELECT
        <include refid="t2_all_field"/>
        FROM
        <include refid="t2_user_others"/>
        <where>
            user_id = #{userId}
        </where>
    </select>


    <sql id="t3_user_info">
        user_info
    </sql>
    <sql id="t3_all_field">
        user_id,user_sex,user_birthday,user_emotion,user_position,user_hometown,user_university,user_company,user_signature
    </sql>

    <insert id="insertUserInfoDO"
            parameterType="com.starocto.dao.db.model.UserInfoDO">
        INSERT INTO
        <include refid="t3_user_info"/>
        (<include refid="t3_all_field"/>)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.userId}, #{item.userSex}, #{item.userBirthday},
            #{item.userEmotion}, #{item.userPosition}, #{item.userHometown},
            #{item.userUniversity}, #{item.userCompany}, #{item.userSignature})
        </foreach>
    </insert>

    <select id="selectUserInfoDO" resultType="com.starocto.dao.db.model.UserInfoDO">
        SELECT
        <include refid="t3_all_field"/>
        FROM
        <include refid="t3_user_info"/>
        <where>
            user_id = #{userId}
        </where>
    </select>


    <sql id="t4_user_follow">
        user_follow
    </sql>
    <sql id="t4_all_field_without_id">
        user_id,follow_user_id,follow_is_friend,follow_time
    </sql>
    <sql id="t4_all_field">
        follow_id,user_id,follow_user_id,follow_is_friend,follow_time
    </sql>

    <insert id="insertUserFollowDO"
            parameterType="com.starocto.dao.db.model.UserFollowDO">
        INSERT INTO
        <include refid="t4_user_follow"/>
        (<include refid="t4_all_field_without_id"/>)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.userId}, #{item.followUserId}, #{item.followIsFriend},#{item.followTime})
        </foreach>
    </insert>

    <select id="selectUserFollowDO" resultType="com.starocto.dao.db.model.UserFollowDO">
        SELECT
        <include refid="t4_all_field"/>
        FROM
        <include refid="t4_user_follow"/>
        <where>
            user_id = #{userId}
        </where>
    </select>
    <select id="selectFansDO" resultType="com.starocto.dao.db.model.UserFollowDO">
        SELECT
        <include refid="t4_all_field"/>
        FROM
        <include refid="t4_user_follow"/>
        <where>
            follow_user_id = #{followUserId}
        </where>
    </select>


    <sql id="t5_blog_info">
        blog_info
    </sql>
    <sql id="t5_all_field_without_id">
        user_id,blog_type,blog_content_text,blog_image_url,blog_video_url,blog_is_original,blog_original_id,blog_plus_time
    </sql>
    <sql id="t5_all_field">
        blog_id,user_id,blog_type,blog_content_text,blog_image_url,blog_video_url,blog_is_original,blog_original_id,blog_plus_time
    </sql>

    <insert id="insertBlogInfoDO"
            parameterType="com.starocto.dao.db.model.BlogInfoDO">
        INSERT INTO
        <include refid="t5_blog_info"/>
        (<include refid="t5_all_field_without_id"/>)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.userId}, #{item.blogType}, #{item.blogContentText},#{item.blogImageUrl},
            #{item.blogVideoUrl}, #{item.blogIsOriginal}, #{item.blogOriginalId},#{item.blogPlusTime})
        </foreach>
    </insert>

    <select id="selectBlogInfoDO" resultType="com.starocto.dao.db.model.BlogInfoDO">
        SELECT
        <include refid="t5_all_field"/>
        FROM
        <include refid="t5_blog_info"/>
        <where>
            user_id = #{userId}
        </where>
    </select>


    <sql id="t6_blog_count">
        blog_count
    </sql>
    <sql id="t6_all_field">
        blog_id,blog_see_num,blog_like_num,blog_forward_num,blog_comment_num
    </sql>

    <insert id="insertBlogCountDO"
            parameterType="com.starocto.dao.db.model.BlogCountDO">
        INSERT INTO
        <include refid="t6_blog_count"/>
        (<include refid="t6_all_field"/>)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.blogId}, #{item.blogSeeNum}, #{item.blogLikeNum},#{item.blogForwardNum},#{item.blogCommentNum})
        </foreach>
    </insert>

    <select id="selectBlogCountDO" resultType="com.starocto.dao.db.model.BlogCountDO">
        SELECT
        <include refid="t6_all_field"/>
        FROM
        <include refid="t6_blog_count"/>
        <where>
            blog_id = #{blogId}
        </where>
    </select>


    <sql id="t7_comment_to_blog">
        comment_to_blog
    </sql>
    <sql id="t7_all_field_without_id">
        blog_id,front_comment_id,user_id,front_user_id,comment_content,comment_time
    </sql>
    <sql id="t7_all_field">
        comment_id,blog_id,front_comment_id,user_id,front_user_id,comment_content,comment_time
    </sql>

    <insert id="insertCommentToBlogDO"
            parameterType="com.starocto.dao.db.model.CommentToBlogDO">
        INSERT INTO
        <include refid="t7_comment_to_blog"/>
        (<include refid="t7_all_field_without_id"/>)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.blogId}, #{item.frontCommentId}, #{item.userId},
            #{item.frontUserId},#{item.commentContent},#{item.commentTime})
        </foreach>
    </insert>

    <select id="selectCommentToBlogDO" resultType="com.starocto.dao.db.model.CommentToBlogDO">
        SELECT
        <include refid="t7_all_field"/>
        FROM
        <include refid="t7_comment_to_blog"/>
        <where>
            blog_id = #{blogId}
        </where>
    </select>

</mapper>